<mat-card class="container">
 
      <form [formGroup]="forgot_pswd_form">
         <div class="subContainer">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header class="tab">
                    <mat-card-title>Forgot Password</mat-card-title>       
                </mat-card-header>
            </div>
        
            <div class="tab">
              <p>Please enter your email address, we will send the password reset link to your mail.</p>

                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput placeholder="Email Address" [formControl]="forgot_pswd_form.get('email')" class="form-control"/>
                            <mat-error *ngIf="forgot_pswd_form.get('email')">
                                Please provide email address.
                            </mat-error>                 
                    </mat-form-field>
                </div>
           </div>
    
           <div class="tab">
              <div class="example-button-row">
                <button mat-raised-button color="primary" (click)= forgot_password()>Send password reset email</button>  
                </div>
           </div>
        </div>
    </form>
    </mat-card>
    
    