.matDialogContent
{
    padding: 0px 0px;
    margin: 0px 0px;
    width: 598px;
}
.matCard
{
    padding: 0px;
    margin: 0px;
}
.circular--square 
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.title
{
    border-bottom: 2px inset;
    height: 50px;
    width: 100%;
}
.titleLabel
{
    padding-left: 20px;
    font-size: 20px;
}
.ownerInfo
{
    margin-top: 10px;
    padding-left: 20px;
}
.owner
{
    padding-left: 10px;
}
.ownerName
{
    font-size: 16px;
}
.ownerLabel
{
    font-size: 14px;
    font-style: italic;
}
.emailID
{
    margin-top: 2px;
    padding-left: 10px;
}
.emailLabel
{
    font-size: 14px;
}
.collabList
{
    margin-top: 10px;
    padding-left: 20px;
}
.collabInfo
{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}
.collabImg
{
    width: 7%;
    height: 100%;
}
.collabEmail
{
    padding-left: 20px;
    width: 65%;
    height: 100%;
}
.collabRemove
{
    width: 30%;
    height: 100%;
}
.removeIcon
{
    margin-left: 7px;
}
.searchDiv
{
    padding-left: 10px;
    margin-top: 20px;
    width: 65%;
    height: 40px;
}
.collabAddIcon
{
    width:7%;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
}
.collabField
{
    width: 90%;
}
.searchText
{
    // margin-left: 10px;
    width:90%;
}
.searchList
{
    width: 64%;margin-left: 10px;
}
.bottom
{
    // margin-bottom: 0px;
    margin-top: 40px;
    background-color: whitesmoke;
    height:50px;
}
.btn
{
    margin-right: 50px;
    padding-left: 10px;
}