.matDialogContent
{
    padding: 0px 0px;
    margin: 0px 0px;
    width: 598px;
}
  .titletext
  {
    width: 100%; 
    height: 45px;
    padding-bottom: 10px;
    margin-top: 10px;
  // background-color: white;
  }
.title-text
{
  width: 100%; 
  background-color: white; 
  height: 45px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.pin
{
  width: 40px;
  margin-top: 7px;
}
  .description
  {
  width: 100%; 
  background-color: white; 
  height: 45px;
  padding-left: 10px;
  padding-bottom: 10px;
  }
  
  .icons{
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
  }
  
  .icons-options{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 80%;
  //   background-color: whitesmoke;
    height: 40px;
  }
.circular--square 
{
  border-radius: 50%;
  height: 30px; width: 30px
}
.collabSpan
{
  margin-bottom: 3px;
  height: 100%; 
  width: 32%;
}

.mat_icon_button
{
   width:15%;
   height: 100%;
}
.reminderSpan
{
  // border-radius:15px; 
  opacity: 0.5;
  border-style:ridge; 
  
}
.reminder
{
   width: 180px;
   border-radius: 15px;
}
.label_name
{
  margin-left: 10px;
  border-radius: 15px;
  height: 100%;
  padding-left: 8px;
  opacity: 0.5;
  border-style:ridge;
  padding-left: 10px;
  // width: 45%;
}
.labels
{
  width: 100%;
  margin-top: 10px;
}
.collaboratorDiv
{
  height:30px; width: 45%; margin-left: 5px;
}
.collabIcon
{
  height: 100%; padding-left: 5px;
}
.collabSpan
{
  margin-bottom: 3px;
  height: 100%; 
  width: 32%;
}

.deleteIcon
{  
  width: 30px; 
  height: 30px; 
}
.noteImg
{
  height: 100%;
  width: 100%;
}
.collabButton
{
  height: 100%; 
  width: 82%;
}

.button
{
  padding-bottom: 10px;
  margin-right: 10px;
}