    <div fxFlex.xs = "95" *ngIf="!is_trash" fxLayout="row" fxLayoutAlign = "start center" class="main">
    <div  class="IconOptions">
        <button mat-icon-button class = "buttons" [matMenuTriggerFor]="reminder" (click)= "GetTime()">           
            <mat-icon fontSet = "material-icons-outlined" matTooltip ="Remind Me" >add_alert</mat-icon>
        </button>
        <mat-menu #reminder="matMenu">
                <div>
                <div fxLayout="row" fxLayoutAlign = "start center" class="title">
                    <button mat-icon-button >
                       <mat-icon fxLayoutAlign = "start center" fontSet="material-icons-outlined"  class="arrowIcon">keyboard_arrow_left</mat-icon>
                    </button>
                     <Label fxLayoutAlign = "start center">Pick Date & Time</Label> 
                 </div>
                              
                 <div class="calendarOption">
                    <div class="owlCalendar">   
                         <input matInput fxLayoutAlign = "start center" placeholder="Select date & Time" [(ngModel)]="date" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                          <owl-date-time #dt></owl-date-time>             
                     </div>
                 </div>

                 <div fxLayoutAlign= "end center" class="saveBtn">
                     <button mat-button (click)="add_remainder(date)">Save</button>
                 </div>
            </div>

        </mat-menu>    
       
    </div>


    <div class="IconOptions">
        <button mat-icon-button  class="buttons" (click)="add_collaborator()">
            <mat-icon fontSet = "material-icons-outlined" matTooltip ="Collaborator">person_add</mat-icon>
        </button>
    </div>

    <div class="IconOptions">
        <button mat-icon-button  class="buttons" [matMenuTriggerFor]="aboveMenu">
            <mat-icon fontSet = "material-icons-outlined" matTooltip ="Change Color">color_lens</mat-icon>     
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above" fxFlex =60>
            <div class="colorMenu" fxLayout="row wrap">
                  <button mat-mini-fab class="fabButton" *ngFor="let color of colors" 
                  [style.backgroundColor]='color' (click)="change_color(color)"></button>
            </div>
        </mat-menu>
    </div>

    <div class="IconOptions">
        <button mat-icon-button  class="buttons">
            <mat-icon fontSet = "material-icons-outlined" matTooltip ="Add Image">photo
                <input type="file" #file style="visibility: hidden;">
             </mat-icon>
        </button>
    </div>
    <div class="IconOptions">
        <button mat-icon-button class="buttons">
        </button>
    </div>
    
    <div class="IconOptions">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="buttons">    
            <mat-icon fontSet = "material-icons-outlined">more_vert</mat-icon>
            <mat-menu #menu = "matMenu">
               <div *ngIf = "!labelsMenuOption">
                    <button mat-menu-item (click)="trash_note()">Delete Note</button>
                    <button mat-menu-item>Add Label</button>
                    <button mat-menu-item>Add Drawing</button>
                    <button mat-menu-item>Show Checkboxes</button>   
                </div>
                <div *ngIf = "labelsMenuOption">
                    <div fxLayoutAlign="start center" *ngFor = "let label of labels">   
                        <mat-checkbox [checked]="checked_label(label.id)" fxLayout ="20" style="padding-left: 10px;" (change)="add_label(checked_label(label.id), label)">{{label.label}}</mat-checkbox> 
                    </div>
                </div>
            </mat-menu>
        </button>   
    </div>   
</div>

<div fxLayout="row" fxLayoutAlign = "space-between center" class="trashIcons">

<div *ngIf="is_trash" fxLayout="row" fxLayoutAlign = "space-between center" class="trashIcons">
    <div class="IconOptions">
        <button mat-icon-button class = "buttons">
            <mat-icon fontSet = "material-icons-outlined" matTooltip ="Delete Forever" (click)="delete_note()">delete_forever</mat-icon>
        </button>
    
        <button mat-icon-button class="buttons">
            <mat-icon fontSet = "material-icons-outlined" matTooltip ="Restore">restore_from_trash</mat-icon>
        </button>
    </div>
</div>




