<mat-card class="container">
 
  <form [formGroup]="loginForm">
     <div class="subContainer">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header class="tab">
                <mat-card-title>SIGN IN</mat-card-title>       
            </mat-card-header>
        </div>
    
        <div class="tab">
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" [formControl]="loginForm.get('username')" class="form-control"/>

                        <mat-error *ngIf="loginForm.get('username')">
                            Please provide Username.
                        </mat-error>                 
                </mat-form-field>


                <mat-form-field appearance="outline">            
                    <mat-label>Password</mat-label>                    
                    <input matInput placeholder="Password" minlength ="8" [type]="hide ? 'password' : 'text'" [formControl]= "loginForm.get('password')" class="form-control" />
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Please provide password.
                     </mat-error>
                     <mat-error *ngIf="loginForm.get('Password')">
                        Password must be 8-15 characters long 
                     </mat-error>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                         
                </mat-form-field>
            </div>
       </div>

       <div class="tab" >
        <div class="example-button-row1">
          <a mat-button routerLink="/forgot_password">Forgot Password?</a> 
        </div>
       </div>

       <div class="tab">
          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)= login()>Sign In</button>  
            Don't have an account ? <a mat-flat-button routerLink="/register">Sign Up Here</a>
            </div>
       </div>
    </div>
</form>
</mat-card>

