.title
{
     border-bottom: 2px inset;
     height: 50px; 
     width: 100%;
     padding-left: 20px;
     padding-top: 10px;
}
.createLabel
{
    border-bottom: 2px inset; 
    width: 100%;
    height: 40px; 
    margin-top: 10px;
}
.matIcon
{
    width: 10%; 
    height: 30px; 
    padding: 2px;
}
.labelList
{
    width: 100%;
    height: 40px;
    margin-top: 5px;
}
.labelIcon
{
    width: 10%; 
    height: 30px; 
    padding: 1%;
}
.labelText
{
    padding-left: 10px;
    width: 95%;
}
.lastOptions
{
    border-top: 2px inset;
    // margin-bottom: 0px; 
    height:50px;
    width: 100%;
}
.button
{
    height: 100%;
    margin-top: 10px;
    // margin-right: 20px;
}
.inputText
{
    font-size: 14px;
}
.labelsContainer
{
    margin-top: 10px;
}