<div class="row justify-content-center" style="margin-top: 50px">
    <div class="col-sm-4">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Reset Password</h4>
            </header>
            <article class="card-body">
            <form (submit)="reset_password()">
            <!-- <h1 class="h3 mb-3 font-weight-normal">Login</h1> -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="new_pswd" placeholder="Enter password" [(ngModel)]="credentials.password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_pswd" placeholder="Enter password" [(ngModel)]="credentials.confirm_password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Reset Password</button>
            </form>
            </article>
        </div>
    </div>
</div>