@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";


body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}