<div  fxLayoutAlign="center center" class="main">
        <mat-card fxFlex.xs = "95" class="takeANote" fxLayoutAlign="center center" fxLayout="row" *ngIf= "visible" >
       
        <div style="width: 480px; height: 40px; margin-top: 8px; font-size: 16px;" fxLayoutAlign="start center" (click)="visible=!visible">Take a Note          
        </div>
        <div class="takeanote-options"  fxLayoutAlign="space-around center" fxLayout="row">
            <button mat-icon-button class="buttons" matTooltip="New list">
                <mat-icon fontSet="material-icons-outlined">check_box</mat-icon>
            </button>
            <button mat-icon-button  class="buttons" matTooltip="New note with drawing">
                <mat-icon fontSet="material-icons-outlined">brush</mat-icon>
            </button>
            <button mat-icon-button  class="buttons" matTooltip="New note with image">
                <mat-icon fontSet="material-icons-outlined">image</mat-icon>
            </button>     
        </div> 
    </mat-card>
    

    <mat-card  fxFlex.xs = "95" class="noteContainer" *ngIf="!visible" [ngStyle]="{'backgroundColor' : color}">
            
        <div class ="titletext" fxLayout="row" fxLayoutAlign="space-between center">            
            <textarea matInput appearance="none" placeholder="Title" [(ngModel)] = "title"[ngStyle]="{'backgroundColor' : color}" class="title-text" fxLayoutAlign="start center"></textarea>  
           
            <div fxLayoutAlign="end center" fxLayout="row" class="pin">
                <button mat-icon-button  fxLayoutAlign="center center">
                    <img src="/assets/images/unfilled.png" *ngIf="!is_pin" (click)="is_pin = true" class="pinImg">
                    <img src ="/assets/images/filled.png" *ngIf ="is_pin" (click)="is_pin = !is_pin" class="pinImg">
                </button> 
            </div>
        </div>

        <textarea matInput appearance="none" autofocus="true" placeholder="Take a note"[ngStyle]="{'backgroundColor' : color}" [(ngModel)] = "description" class="description" appearance="none" fxLayoutAlign="start center" ></textarea>
     
        <div class = "icons" fxLayoutAlign = "space-between center" fxLayout="row">
            <app-icon fxLayoutAlign= "start center" (reminderEvent) = "ReceiveReminder($event)"></app-icon>
            <a mat-button fxLayoutAlign= "end center" (click)="create_note()">Close</a>
        </div>  
    </mat-card>
</div>
